<header class="site-header" role="banner">

  <div class="wrapper">
<br>
<div class="site-avatar"><img src="{{ site.baseurl }}/me.png">
</div>
    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
   <div class="grid" id="searchBar">
      <div>
          <div id="search">
              <form role="search" method="get" action="{{site.baseurl}}/search/">
                  <input id="searchString" name="searchString"
                         placeholder="search" type="text">
                  <input id="searchButton" name="googleSearchName" type="submit" value="search">
              </form>
          </div>         
      </div>
  </div>
<br >
<nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{{ site.url }}">Home</a>
        </li>
        <li>
          <a href="{{ site.url }}/study-materials.html">Study Materials</a>
        </li>
        <li>
          <a href="#!">Gulf</a>
           <ul class="nav-dropdown">
            <li>
              <a href="{{ site.url }}/pages/dha.html">DHA</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/moh.html">MOH</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/canada.html">Canada</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/australia.html">Australia</a>
            </li>
          </ul>
        </li>
        
        <li>
          <a href="{{ site.url }}/courses.html">Courses</a>
        </li>
        
        <li>
          <a href="#!">Abroad</a>
          <ul class="nav-dropdown">
            <li>
              <a href="{{ site.url }}/pages/usa.html">USA</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/uk.html">UK</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/canada.html">Canada</a>
            </li>
            <li>
              <a href="{{ site.url }}/pages/australia.html">Australia</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="{{ site.url }}/jobs.html">Jobs</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
