{% if post.image.feature and post.image.feature != "" %}
  {% assign hasImage = true %}
  {% assign excerptClass = "col-xs-10" %}
{% else %}
  {% assign hasImage = false %}
  {% assign excerptClass = "col-xs-12" %}
{% endif %}

<div class="row postsum">
  <div class="{{ excerptClass }}">
    {{ post.excerpt }}
    <a href="{{ post.url }}"><em>Read more</em></a>
  </div>
  {% if hasImage %}
  <div class="col-xs-2">
    <img src="{{ site.baseurl }}{{ post.image.feature }}" alt="{{ post.title }}" class="img-responsive">
  </div>
  {% endif %}
</div>
