---
layout: default_bootstrap
---
<article class="post">
<div class="panel panel-default">
  <div class="panel-heading text-center">
  <header class="post-header">
    <h4>{{ page.title | escape }}</h4>
  </header>
  </div>
  <div class="post-content">
  <div class="panel-body text-justify">
    {{ content }}
{% include fb-share.html %}
<a href="whatsapp://send?text={{ site.url}}{{ page.url }}" data-action="share/whatsapp/share"><img src="/images/whatsapp.jpg" alt="whatsapp"></a>
  </div></div>
{% include  fb-comment.html %}
</div>

</article>
