---
layout: default_bootstrap
---
<article class="post">
<div class="panel panel-default text-center">
  <div class="panel-heading text-center">
  <header class="post-header">
    <h4>{{ page.title | escape }}</h4>
  </header>
  </div>
  <div class="post-content">
  <div class="panel-body text-left">
    {{ content }}
<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/facebook.png" alt="facebook"></a>
<a href="whatsapp://send?text={{ site.url}}{{ page.url }}" data-action="share/whatsapp/share"><img src="/images/whatsapp.png" alt="whatsapp"></a>
  </div></div>
{% include  fb-comment.html %}
</div>

</article>
